{% extends 'base.html' %}
{% load static %}
{% block title %}Create Project{% endblock title %}
{% block main-content %}
<div class="container">
    <div class="row my-3">
        <div class="col-sm-8 offset-sm-2">
            <h3>Create a New Project</h3>
            <hr>
            <form method="post" novalidate class="shadow p-5">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary mt-4">Save</button>
            </form>
        </div>
    </div>
</div>

{% endblock main-content %}
