{% extends 'base.html' %}
{% load static %}
{% block title %}Create New Task{% endblock title %}
{% block main-content %}
<div class="container">
    <div class="row my-3">
        <div class="col-sm-8 offset-sm-2">
            <h3>Create New Task</h3>
            <hr>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Save Task</button>
            </form>
        </div>
    </div>
</div>
{% endblock main-content %}
